.bg-win {
  background-image: url('../src/bg_end.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.hero-winner{
    height: calc(100vh - 325px);
}

.copy-right{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.img_land{
    position: absolute;
    top: 0;
    left: -25%;
    height: 250px;
}

.land{
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;     
}

/* Responsive */
@media (min-width: 320px) and (max-width: 395.98px) {
    .hero-winner{
    height: calc(100vh - 200px);
    padding: 1rem;
}
.bg-win {
  background-image: url('../src/bg_end_mobile.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
}

@media (min-width: 396px) and (max-width: 575.98px) {
  .rifle-brand {
    width: 100%;
    max-width: 160px;
    min-width: 100px;
    margin-inline: auto;
    display: block;
  }

  .buttons-game {
    flex-direction: row;
  }

  section.premios .container-premio:nth-child(1) {
    border-bottom: 1px solid #FFFF00;
    border-right: 0px;
  }

  section.premios .container-premio:last-child {
    border-top: 1px solid #FFFF00;
    border-left: 0px;
  }

  .container-intentos {
    overflow-x: scroll;
    justify-content: start;
    padding: 1rem;
  }

  .terms-container {
    align-content: center;
  }

  .hero {
    text-align: center;
  }

  .bg-rifle {
    background: linear-gradient(180deg, rgba(3, 19, 51, 0) 0%, rgb(3, 19, 51) 25%), url('../src/bg_landing_mobile.jpg') top center/contain no-repeat;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container-intentos {
    overflow-x: scroll;
    justify-content: start;
    padding: 1rem;
  }

  .terms-container {
    margin-block: 3rem;
    align-content: center;
  }

  section.premios .container-premio:nth-child(1) {
    border-bottom: 1px solid #FFFF00;
    border-right: 0px;
  }

  section.premios .container-premio:last-child {
    border-top: 1px solid #FFFF00;
    border-left: 0px;
  }

  .bg-rifle {
    background: linear-gradient(180deg, rgba(3, 19, 51, 0) 0%, rgba(3, 19, 51, 1) 25%),
      url('../src/bg_landing.jpg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #031333 !important;
  }
}


@media (max-width: 991.98px) {
  .terms-container {
    margin-block: 3rem;
    align-content: center;
  }
  .icon {
    height: 60px;
  }
  .bg-rifle {
    background: linear-gradient(180deg, rgba(3, 19, 51, 0) 0%, rgba(3, 19, 51, 1) 25%),
      url('../src/bg_landing.jpg');
    background-size: 100%;
    background-color: #031333 !important;
  }
}