.bg-win {
  background-image: url('../src/bg_end.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #1E3460;
}

.hero-winner{
    height: calc(100vh - 325px);
}

.copy-right{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
}

.img_land{
    position: absolute;
    top: 0;
    left: -25%;
    height: 250px;
}

.land{
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;     
}

.position-number{
    color: #FFFF00;
}

/* Responsive */
@media (min-width: 320px) and (max-width: 395.98px) {
    .hero-winner{
    height: calc(100vh - 100px);
    padding: 1rem;
}
.bg-win {
  background-image: url('../src/bg_end_mobile.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #1E3460;
}
}

@media (min-width: 396px) and (max-width: 575.98px) {
      .hero-winner{
    height: calc(100vh - 100px);
    padding: 1rem;
    }
.bg-win {
  background-image: url('../src/bg_end_mobile.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #1E3460;
}

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-win {
  background-image: url('../src/bg_end_mobile.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #1E3460;
}
.hero-winner{
    height: calc(100vh - 100px);
    padding: 1rem;
    }
}


@media (max-width: 991.98px) {
  .hero-winner{
    height: calc(100vh - 100px);
    padding: 1rem;
    }
}