@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


/* ======== Estilos generales ======== */
body {
  font-size: 16px;
  font-family: 'HelveticaNeue';
}


.bg-rifle {
  background: linear-gradient(180deg, rgba(3, 19, 51, 0) 0%, rgba(3, 19, 51, 1) 35%),
    url('../src/bg_landing.jpg');
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #031333 !important;
}

h1,
h2,
h4 {
  font-family: 'HelveticaNeue-Bold';
  text-transform: uppercase;
  color: #FFFF00
}

.h1-rifle {
  font-size: 2rem;
}

.h2-rifle {
  font-size: 1.8rem;
}

.h4-rifle {
  font-size: 1.7rem;
}

.h5-rifle {
  font-family: 'HelveticaNeue-Bold';
  font-size: 1.5rem;
  color: #FFFF00;
}

p,
.lead {
  color: #ffffff;
  font-size: 1.5rem;
}

.btn-warning {
  background-color: #FFFF00;
  color: #081D51;
  border: none;
  border-radius: 2.5rem;
}

.btn-warning:hover {
  background-color: #ffe600;
}

.btn-outline-light {
  border-radius: 2.5rem;
  border: 1px solid #FFFF00;
  color: #FFFF00;
  background-color: transparent;
}

.btn-outline-light:hover {
  background-color: #FFFF00;
  color: #081D51;
  border: 1px solid #FFFF00;
}

.rifle-brand {
  width: 100%;
  max-width: 260px;
  min-width: 180px;
}

/* ======== Hero Section ======== */
.hero {
  padding-top: 6rem;
  min-height: 100vh;
  margin-top: 6rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.container-intentos {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card-intento {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFFF00;
  border-radius: 10px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}

.card-intento:hover {
  transform: translateY(-5px);
  border-color: #FFFF00;
}

.icon {
  height: 80px;
  margin-inline: auto;
}

.icon-arrow {
  height: 60px;
  margin-inline: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease
}

.icon-arrow:hover {
  transform: translateY(-5px);
}

.terms-container {
  position: relative;
  margin-block: 2rem;
}

.conditions-link p {
  font-size: 1rem;
  text-decoration: underline;
  color: #ffffff;
}

/* ======== Premios ======== */
.premios {
  background-color: #031333;
}

section.premios .container-premio:nth-child(1) {
  border-right: 1px solid #FFFF00;
}

section.premios .container-premio:last-child {
  border-left: 1px solid #FFFF00;
}

.premio {
  padding: 2rem;
  transition: transform 0.3s ease;
}

.premio:hover {
  transform: translateY(-5px);
  border-color: #FFFF00;
}

/* Responsive */
@media (min-width: 320px) and (max-width: 395.98px) {
  .rifle-brand {
    width: 100%;
    max-width: 160px;
    min-width: 100px;
    margin-inline: auto;
    display: block;
  }

  .hero {
    padding-inline: 1rem;
  }

  .container-intentos {
    overflow-x: scroll;
    justify-content: start;
    padding: 1rem;
  }

  .h1-rifle {
    font-size: 1.3rem;
  }

  .h2-rifle {
    font-size: 1.25rem;
    text-align: center;
  }

  .h4-rifle {
    font-size: 1.2rem;
  }

  .h5-rifle {
    font-size: 1.125rem;
  }

  p,
  .lead {
    font-size: 1rem;
    text-align: center;
  }

  .terms-container {
    display: flex;
    flex-direction: column;
  }

  .icon-arrow {
    position: relative;
    order: 2;
    margin-left: 0;
  }

  .bg-rifle {
    background: linear-gradient(180deg, rgba(3, 19, 51, 0) 0%, rgb(3, 19, 51) 30%), url('../src/bg_landing_mobile.jpg') top center/contain no-repeat;
    background-color: #031333 !important;
  }

  .buttons-game {
    flex-direction: column;
  }

  section.premios .container-premio:nth-child(1) {
    border-bottom: 1px solid #FFFF00;
    border-right: 0px;
  }

  section.premios .container-premio:last-child {
    border-top: 1px solid #FFFF00;
    border-left: 0px;
  }
}

@media (min-width: 396px) and (max-width: 575.98px) {
  .rifle-brand {
    width: 100%;
    max-width: 160px;
    min-width: 100px;
    margin-inline: auto;
    display: block;
  }

  .buttons-game {
    flex-direction: row;
  }

  section.premios .container-premio:nth-child(1) {
    border-bottom: 1px solid #FFFF00;
    border-right: 0px;
  }

  section.premios .container-premio:last-child {
    border-top: 1px solid #FFFF00;
    border-left: 0px;
  }

  .container-intentos {
    overflow-x: scroll;
    justify-content: start;
    padding: 1rem;
  }

  .terms-container {
    align-content: center;
  }

  .hero {
    text-align: center;
  }

  .bg-rifle {
    background: linear-gradient(180deg, rgba(3, 19, 51, 0) 0%, rgb(3, 19, 51) 25%), url('../src/bg_landing_mobile.jpg') top center/contain no-repeat;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container-intentos {
    overflow-x: scroll;
    justify-content: start;
    padding: 1rem;
  }

  .terms-container {
    margin-block: 3rem;
    align-content: center;
  }

  section.premios .container-premio:nth-child(1) {
    border-bottom: 1px solid #FFFF00;
    border-right: 0px;
  }

  section.premios .container-premio:last-child {
    border-top: 1px solid #FFFF00;
    border-left: 0px;
  }

  .bg-rifle {
    background: linear-gradient(180deg, rgba(3, 19, 51, 0) 0%, rgba(3, 19, 51, 1) 25%),
      url('../src/bg_landing.jpg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #031333 !important;
  }
}


@media (max-width: 991.98px) {
  .terms-container {
    margin-block: 3rem;
    align-content: center;
  }
  .icon {
    height: 60px;
  }
  .bg-rifle {
    background: linear-gradient(180deg, rgba(3, 19, 51, 0) 0%, rgba(3, 19, 51, 1) 25%),
      url('../src/bg_landing.jpg');
    background-size: 100%;
    background-color: #031333 !important;
  }
}